# Exclude dataset, trained models and temporary files.

/dataset/*
/__pycache__/*
.ipynb_checkpoints/*
/test/*
/test_output/*
Question_Answering_on_SQUAD.ipynb
*.out
requirements
/prompt_QA_coqa/*
/news/*
/transformers/
/prompt_QA_coqa_full/*
/prompt_QA_orig_quac/*
/prompt_QA_longformer/*
eval.json
